# Python
*.pyc
__pycache__/
db.sqlite3
.env

# Django static/media
/staticfiles/
/media/

# JSON dump files
*.json

# Node/Vercel
node_modules/
.build/
dist/
.env.local

# macOS
.DS_Store

# Others
*.log

# Ignore compiled Python files
__pycache__/
*.py[cod]